In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:
BASE_PATH = '../../data/'
train = pd.read_csv(os.path.join(BASE_PATH, 'train.csv'))
test = pd.read_csv(os.path.join(BASE_PATH, 'test.csv'))

In [3]:
train['LABEL'] = (train['LABEL'] - 1).astype(bool)
test['LABEL'] = (test['LABEL'] - 1).astype(bool)
train = train.rename(columns = {'LABEL' : 'exoplanets'}).rename(lambda x : x.lower().replace('flux.', 't-'), axis = 'columns')
test = test.rename(columns = {'LABEL' : 'exoplanets'}).rename(lambda x : x.lower().replace('flux.', 't-'), axis = 'columns')
train.head()

,exoplanets,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-3188,t-3189,t-3190,t-3191,t-3192,t-3193,t-3194,t-3195,t-3196,t-3197
0,True,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,True,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,True,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,True,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,True,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

In [4]:
train = train.sample(frac = 1).reset_index(drop = True)
test = test.sample(frac = 1).reset_index(drop = True)

In [5]:
X_train = train.select_dtypes('number')
y_train = train['exoplanets']
X_test = test.select_dtypes('number')
y_test = test['exoplanets']

In [6]:
import numpy as np
from scipy import stats
p_values = []
for _, row in X_train.iterrows():
  _, p_value = stats.kstest(row.array, 'norm', alternative = 'two-sided')
  p_values.append(p_value)

In [7]:
alpha = 0.05
for p_value in p_values:
  if p_value < alpha:
    continue
    #print(f"Not normal (reject H0) with p-value {p_value}")
  else:
    print(f"Normal (fail to reject H0) with p-value {p_value}")

In [8]:
import numpy as np
from scipy import stats
p_values = []
for _, row in X_test.iterrows():
  _, p_value = stats.kstest(row.array, 'norm', alternative = 'two-sided')
  p_values.append(p_value)

In [9]:
alpha = 0.05
for p_value in p_values:
  if p_value < alpha:
    continue
    #print(f"Not normal (reject H0) with p-value {p_value}")
  else:
    print(f"Normal (fail to reject H0) with p-value {p_value}")

## Size reduction

In [15]:
# Randomly sleect 100 columns from X_train
import random
random.seed(42)
random_columns = random.sample(list(X_train.columns), 100)
X_train = X_train[random_columns]
X_test = X_test[random_columns]

In [16]:
import numpy as np
from scipy import stats
p_values = []
for _, row in X_train.iterrows():
  _, p_value = stats.kstest(row.array, 'norm', alternative = 'two-sided')
  p_values.append(p_value)

In [17]:
alpha = 0.05
for p_value in p_values:
  if p_value < alpha:
    continue
    #print(f"Not normal (reject H0) with p-value {p_value}")
  else:
    print(f"Normal (fail to reject H0) with p-value {p_value}")

Normal (fail to reject H0) with p-value 0.22958723774239154

In [18]:
import numpy as np
from scipy import stats
p_values = []
for _, row in X_test.iterrows():
  _, p_value = stats.kstest(row.array, 'norm', alternative = 'two-sided')
  p_values.append(p_value)

In [19]:
alpha = 0.05
for p_value in p_values:
  if p_value < alpha:
    continue
    #print(f"Not normal (reject H0) with p-value {p_value}")
  else:
    print(f"Normal (fail to reject H0) with p-value {p_value}")